USE [master]
GO
/****** Object:  Database [Biblioteca]    Script Date: 1/24/2025 9:36:43 AM ******/
CREATE DATABASE [Biblioteca]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[id_autor] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[id_pais] [int] NULL,
 CONSTRAINT [pk_Autores] PRIMARY KEY CLUSTERED 
(
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[id_carrera] [int] NOT NULL,
	[carrera] [varchar](30) NOT NULL,
 CONSTRAINT [pk_Carreras] PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editoriales]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editoriales](
	[id_editorial] [int] NOT NULL,
	[editorial] [varchar](30) NOT NULL,
	[id_pais] [int] NOT NULL,
 CONSTRAINT [pk_Editoriales] PRIMARY KEY CLUSTERED 
(
	[id_editorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[id_estudiante] [int] NOT NULL,
	[cedula] [varchar](9) NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellido] [varchar](30) NULL,
	[edad] [tinyint] NULL,
	[genero] [varchar](1) NULL,
	[direccion] [varchar](60) NULL,
	[telefono] [varchar](8) NOT NULL,
	[id_carrera] [int] NULL,
 CONSTRAINT [pk_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[id_genero] [int] NOT NULL,
	[genero] [varchar](30) NOT NULL,
 CONSTRAINT [pk_Generos] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[id_libro] [int] NOT NULL,
	[titulo] [varchar](90) NOT NULL,
	[año] [int] NULL,
	[id_genero] [int] NULL,
 CONSTRAINT [pk_Libros] PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros_Autores]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros_Autores](
	[id_libro] [int] NOT NULL,
	[id_autor] [int] NOT NULL,
 CONSTRAINT [pk_Lib_Aut] PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC,
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros_Editoriales]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros_Editoriales](
	[id_libro] [int] NOT NULL,
	[id_editorial] [int] NOT NULL,
 CONSTRAINT [pk_Lib_Edi] PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC,
	[id_editorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[id_pais] [int] NOT NULL,
	[pais] [varchar](20) NOT NULL,
 CONSTRAINT [pk_Paises] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 1/24/2025 9:36:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[id_prestamo] [int] NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[fecha_prestamo] [date] NOT NULL,
	[devuelto] [bit] NOT NULL,
	[fecha_devolucion] [date] NULL,
	[fecha_expiracion] [date] NOT NULL,
 CONSTRAINT [pk_Prestamos] PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Autores] ([id_autor], [nombre], [apellido], [id_pais]) VALUES (1, N'Miguel de Cervantes', N'Saavedra', 1)
INSERT [dbo].[Autores] ([id_autor], [nombre], [apellido], [id_pais]) VALUES (2, N'John', N'Kennedy Toole', 3)
INSERT [dbo].[Autores] ([id_autor], [nombre], [apellido], [id_pais]) VALUES (3, N'Antoine', N'Saint-Exupery', 6)
GO
INSERT [dbo].[Carreras] ([id_carrera], [carrera]) VALUES (10, N'Abogacia')
INSERT [dbo].[Carreras] ([id_carrera], [carrera]) VALUES (3, N'Administracion')
INSERT [dbo].[Carreras] ([id_carrera], [carrera]) VALUES (5, N'Arquitectura')
GO
INSERT [dbo].[Editoriales] ([id_editorial], [editorial], [id_pais]) VALUES (1, N'Anaya', 1)
INSERT [dbo].[Editoriales] ([id_editorial], [editorial], [id_pais]) VALUES (2, N'Alfaguara', 1)
INSERT [dbo].[Editoriales] ([id_editorial], [editorial], [id_pais]) VALUES (3, N'Andina', 2)
GO
INSERT [dbo].[Estudiantes] ([id_estudiante], [cedula], [nombre], [apellido], [edad], [genero], [direccion], [telefono], [id_carrera]) VALUES (1, N'839392924', N'Ines', N'Maza Rodriguez', 18, N'F', N'Calle 25, Avenida Central, Barrio A, San José', N'88420943', 1)
INSERT [dbo].[Estudiantes] ([id_estudiante], [cedula], [nombre], [apellido], [edad], [genero], [direccion], [telefono], [id_carrera]) VALUES (2, N'965691460', N'Jose Manuel', N'Melendez Garcia', 23, N'M', N'3ra Calle, Barrio El Carmen, #25, Alajuela', N'82303159', 2)
INSERT [dbo].[Estudiantes] ([id_estudiante], [cedula], [nombre], [apellido], [edad], [genero], [direccion], [telefono], [id_carrera]) VALUES (3, N'893094711', N'Miguel', NULL, 20, N'M', N'Avenida 10, Casa #12, Los Yoses, San Pedro', N'71984776', 3)
GO
INSERT [dbo].[Generos] ([id_genero], [genero]) VALUES (6, N'Autobiografias')
INSERT [dbo].[Generos] ([id_genero], [genero]) VALUES (3, N'Aventura')
INSERT [dbo].[Generos] ([id_genero], [genero]) VALUES (5, N'Biografias')
GO
INSERT [dbo].[Libros] ([id_libro], [titulo], [año], [id_genero]) VALUES (1, N'Don Quijote de la Mancha I', 1605, 1)
INSERT [dbo].[Libros] ([id_libro], [titulo], [año], [id_genero]) VALUES (2, N'Don Quijote de la Mancha II', 1615, 1)
INSERT [dbo].[Libros] ([id_libro], [titulo], [año], [id_genero]) VALUES (3, N'Historias de Nueva Orleans', 1980, 2)
GO
INSERT [dbo].[Libros_Autores] ([id_libro], [id_autor]) VALUES (1, 1)
INSERT [dbo].[Libros_Autores] ([id_libro], [id_autor]) VALUES (2, 1)
INSERT [dbo].[Libros_Autores] ([id_libro], [id_autor]) VALUES (3, 2)
GO
INSERT [dbo].[Libros_Editoriales] ([id_libro], [id_editorial]) VALUES (1, 1)
INSERT [dbo].[Libros_Editoriales] ([id_libro], [id_editorial]) VALUES (2, 1)
INSERT [dbo].[Libros_Editoriales] ([id_libro], [id_editorial]) VALUES (3, 2)
GO
INSERT [dbo].[Paises] ([id_pais], [pais]) VALUES (8, N'Alemania')
INSERT [dbo].[Paises] ([id_pais], [pais]) VALUES (4, N'Argentina')
INSERT [dbo].[Paises] ([id_pais], [pais]) VALUES (2, N'Chile')
GO
INSERT [dbo].[Prestamos] ([id_prestamo], [id_libro], [id_estudiante], [fecha_prestamo], [devuelto], [fecha_devolucion], [fecha_expiracion]) VALUES (1, 1, 3, CAST(N'2012-03-25' AS Date), 0, NULL, CAST(N'2012-04-10' AS Date))
INSERT [dbo].[Prestamos] ([id_prestamo], [id_libro], [id_estudiante], [fecha_prestamo], [devuelto], [fecha_devolucion], [fecha_expiracion]) VALUES (2, 9, 2, CAST(N'2013-02-03' AS Date), 1, CAST(N'2013-02-25' AS Date), CAST(N'2013-02-20' AS Date))
INSERT [dbo].[Prestamos] ([id_prestamo], [id_libro], [id_estudiante], [fecha_prestamo], [devuelto], [fecha_devolucion], [fecha_expiracion]) VALUES (3, 8, 5, CAST(N'2013-02-18' AS Date), 1, CAST(N'2013-02-25' AS Date), CAST(N'2013-03-02' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_carrera]    Script Date: 1/24/2025 9:36:44 AM ******/
ALTER TABLE [dbo].[Carreras] ADD  CONSTRAINT [unique_carrera] UNIQUE NONCLUSTERED 
(
	[carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_editorial]    Script Date: 1/24/2025 9:36:44 AM ******/
ALTER TABLE [dbo].[Editoriales] ADD  CONSTRAINT [unique_editorial] UNIQUE NONCLUSTERED 
(
	[editorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_genero]    Script Date: 1/24/2025 9:36:44 AM ******/
ALTER TABLE [dbo].[Generos] ADD  CONSTRAINT [unique_genero] UNIQUE NONCLUSTERED 
(
	[genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_pais]    Script Date: 1/24/2025 9:36:44 AM ******/
ALTER TABLE [dbo].[Paises] ADD  CONSTRAINT [unique_pais] UNIQUE NONCLUSTERED 
(
	[pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Autores]  WITH CHECK ADD  CONSTRAINT [fk_Aut__Pai] FOREIGN KEY([id_pais])
REFERENCES [dbo].[Paises] ([id_pais])
GO
ALTER TABLE [dbo].[Autores] CHECK CONSTRAINT [fk_Aut__Pai]
GO
ALTER TABLE [dbo].[Editoriales]  WITH CHECK ADD  CONSTRAINT [fk_Edi__Pai] FOREIGN KEY([id_pais])
REFERENCES [dbo].[Paises] ([id_pais])
GO
ALTER TABLE [dbo].[Editoriales] CHECK CONSTRAINT [fk_Edi__Pai]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [fk_Est__Car] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Carreras] ([id_carrera])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [fk_Est__Car]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [fk_Lib__Gen] FOREIGN KEY([id_genero])
REFERENCES [dbo].[Generos] ([id_genero])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [fk_Lib__Gen]
GO
ALTER TABLE [dbo].[Libros_Autores]  WITH CHECK ADD  CONSTRAINT [fk_Lib_Aut__Aut] FOREIGN KEY([id_autor])
REFERENCES [dbo].[Autores] ([id_autor])
GO
ALTER TABLE [dbo].[Libros_Autores] CHECK CONSTRAINT [fk_Lib_Aut__Aut]
GO
ALTER TABLE [dbo].[Libros_Autores]  WITH CHECK ADD  CONSTRAINT [fk_Lib_Aut__Lib] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libros] ([id_libro])
GO
ALTER TABLE [dbo].[Libros_Autores] CHECK CONSTRAINT [fk_Lib_Aut__Lib]
GO
ALTER TABLE [dbo].[Libros_Editoriales]  WITH CHECK ADD  CONSTRAINT [fk_Lib_Edi__Edi] FOREIGN KEY([id_editorial])
REFERENCES [dbo].[Editoriales] ([id_editorial])
GO
ALTER TABLE [dbo].[Libros_Editoriales] CHECK CONSTRAINT [fk_Lib_Edi__Edi]
GO
ALTER TABLE [dbo].[Libros_Editoriales]  WITH CHECK ADD  CONSTRAINT [fk_Lib_Edi__Lib] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libros] ([id_libro])
GO
ALTER TABLE [dbo].[Libros_Editoriales] CHECK CONSTRAINT [fk_Lib_Edi__Lib]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [fk_Pre__Est] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [fk_Pre__Est]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [fk_Pre__Lib] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libros] ([id_libro])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [fk_Pre__Lib]
GO
USE [master]
GO
